body {
	&.page-agegate {
		background-color: $dk-brand;
		@media(max-height: 680px){
			overflow-y: auto !important;
		}
		// Main Age wrapper
		.jquery-modal{
			z-index: 999999;
			#preview{
				&.modal{
					max-height: inherit !important;
					height: auto;
					display: block !important;
					bottom: auto;
					@media(max-height: 700px){
						height: 80%;
						overflow: auto;
					}
				}
				.btnsFooter{
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-top: 15px;
					@media(max-width: 580px){
						flex-direction: column;
					}
					a{
						height: 38px;
						width: 31%;
						border-radius: 6px;
						display: flex;
						align-items: center;
						justify-content: center;
						color: white;
						font-size: 13px;
						font-weight: 600;
						text-decoration: none; 
						position: relative;
						@media(max-width: 580px){
							width: 100%;
							margin: 0 0 15px;
						}
						svg{
							height: 16px;
							object-fit: contain;
							path{
								fill: white;
							}
						}
						span{
							color: white;
							font-size: 13px;
							font-weight: 600;
							margin-left: 8px;
							text-transform: uppercase;
							text-decoration: none; 
						}
						&:first-of-type{
							background: #e31937;
						}
						&:nth-of-type(2){
							background: #3b5998;
							&::before {
								@include mq (md) {
									@include pseudo();
									background-image: url('../images/icons/fb.png');
									background-position: center;
									background-repeat: no-repeat;
									background-size: contain;
									width: 2rem;
									height: 2rem;
									left: .5rem;
								}
							}
						}
						&:last-of-type{
							background: #55acee;
							&::before {
								@include mq (md) {
									@include pseudo();
									background-image: url('../images/icons/tw.png');
									background-position: center;
									background-repeat: no-repeat;
									background-size: contain;
									width: 2rem;
									height: 2rem;
									left: .7rem;
								}
							}
							@media(max-width: 580px){
								margin: 0;
							}
						}
					}
				}
			}
		} 
		#age_checker {
			background-size: contain;
			background-position: center;			
			background-repeat: no-repeat;
			.agegate-container {
				padding: rem(62px) rem(20px) rem(38px);
				@include mq('sm') {
					padding: rem(82px) rem(20px) rem(65px);
				}

				// Hide unncesary copyright
				
				#agegate_copyright_text {
					display: none;
				}

				// Brand
				.logo {
					text-align: center;
					margin: 0 auto rem(20px);
					padding: 0 0;
					@include mq('sm') {
						margin: 0 auto;
					}
					img {
						display: inline-block;
						max-width: 80%;
						@include mq('sm') {
							max-width: 288px;
						}
					}
				}

				// Age content
				#block-system-main {
					color: $white;
					font-family: $td-cn-18;
					max-width: rem(640px);
					margin: 0 auto;
					padding: 0 0 0 0;
					// Top message
					#age_checker_header_message {
						padding: 0 0 rem(30px);
						@include mq('md') {
							padding: rem(43px) 0 rem(36px);
						}
						> div {
							text-align: center;
							color: $white;
							line-height: 1;
							text-transform: uppercase;
							@include font(16px);
							max-width: rem(380px);
							margin: 0 auto ;
							@include mq('md') {
								@include font(18px);
							}
						}
					}

					// Form
					#age_checker_widget {
						form {
							&#sabm-age-gate-form {
								text-align: center;
								padding: 0 rem(20px);
								
								// Select default styles
								.form-type {
									&-select {
										position: relative;
										display: block;
										label {
											display: none;
										}
										select {
											padding: rem(12px);
											color: $gray-txt;
											border-radius: 0;
											background-color: $white;
											display: block;
											line-height: 1;
											width: 100%;
											@include font(16px);
											text-transform: uppercase;
											@include mq('md') {
												padding: rem(8px) rem(17px);									
											}
										}								
										&::after {
											content: "";
											display: block;
											@include iconSVG('../images/icons/caret_down.svg', 19px);
											width: rem(19px);
											height: rem(11px);
											position: absolute;
											right: rem(15px);
											top: rem(10px);
										}
									}
								}

								// Field schemma
								.form-item {
									border-radius: 0;
									&-list-of-countries {
										margin-bottom: rem(30px) !important;
										display: block;
										width: 100%;
										padding-top: 0;
										font-family: $td-got-lt-std-bd-Cn-20;
										@include mq('md') {
											margin-bottom: rem(20px) !important;
											display: inline-block;
											vertical-align: top;
											width: 40%;
											margin: 0 rem(10px);
										}										
									}
									// Date									

									&-day,
									&-month,
									&-year {
										font-family: $td-got-lt-std-bd-Cn-20;
										label {
											display: none;
										}
										display: inline-block;
										vertical-align: top;
										width: 26.4%;
										input {
											padding: rem(12px);
											color: $gray-txt;
											border-radius: 0;
											background-color: $white;
											display: block;
											line-height: 1;
											width: 100%;
											@include font(16px);
											text-transform: uppercase;
											@include placeholder {
												color: $gray-txt;
												line-height: normal;
											}
											@include mq('md') {
												padding: rem(8px) rem(17px);									
											}
										}
										@include mq('md') {
											padding: 0 rem(17px);
											width: 18%;											
										}
									}

									&-month {
										margin: 0 10%; 
										@include mq('md') {
											margin: inherit;
										}
									}

									// Accept checkbox
									&-remember-me {
										text-align: center;
										margin: rem(30px) 0 rem(24px) !important;

										.ab-inbev-remember-me,
										.control-label {
											text-transform: uppercase;
											.form-checkbox{
												width: rem(18px);
												height: rem(18px);
											    margin-left: 0;
											}
											strong{
												margin-left: rem(25px);
											}
											@include mq('md') {
												text-align: left;
												display: inline-block;
												vertical-align: top;
												width: auto;
											}
										}

										.ab-inbev-remember-me {
											margin-top: rem(20px);
											@include font(12px);
											@include mq('md') {
												margin-top: 0;
											}
											
											a {
												color: $white;

											}

											span {
												@include font(12px);
												a {
													color: $white;

												}
											}
											@include mq('md') {
												width: 66%;
												text-align: left;
												margin-left: 5%;
											}
										}
									}
								}


								// CTAS
								#edit-submit {
									@include defBtn(16px, 62px, $white, rgba(0,0,0,0.3),rgba(227,26,44,0.3));
									display: block;
									width: 100%;
									margin: 0 auto rem(30px);
									font-family: $bd;
									@include mq('md') {
										width: auto;
										display: inline-block;
										vertical-align: middle;
										margin: 0 rem(20px) 0 0;
									}
									@include mq('tb') {
										margin: rem(10px) auto;
										display: block;
									}
								}

								.age_checker_facebook_validate {
									display: block;
									position: relative;
									margin: rem(10px) auto;
									@include mq('md') {
										margin: inherit;
										display: inline-block;
										vertical-align: middle;
									}
									@include mq('tb') {										
										display: block;
									}
									.fb_iframe_widget {
										color: $white;
										@include coverAbsolute(2);
										opacity: 0.02;
										color: transparent;
									}
									.fbTrigger {
										@include defBtn(16px, 22px, $white, rgba(17,46,121,0.5),rgba(17,46,121,0.9));
										display: block;
										width: 100%;
										b {
											width: rem(75px);
											// height: rem(16px);
											display: inline-block;
											@include iconSVG('../images/brand/facebook.svg', 85px);
											background-size: inherit;
											text-indent: 9999999999px;
										    vertical-align: top;
										    color: transparent;
										}
										@include mq('md') {
											display: inline-block;
											width: auto;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.general-no-excuse{
			background: #101010;
			@media(max-height: 680px){
				flex-grow: inherit;
				flex-basis: inherit;
				height: auto;
			}
			.row{
				&.box-row{
					@media(max-width: 1024px){
						border-width: 1px;
					}
				}
			}
			.box-form{
				.wrapper-date{
					.form-item{
						width: 33.33%;
					}
				}
			}
			.absolute-image{
				// position: absolute;
				// left: 60%;
				// transform: translateX(-50%);
				// z-index: 1;
				// height: 100%;
				// display: block;
				// bottom: 0;
				@media(max-width: 1024px){
					display: none;
				}
				img{
					max-width: inherit;
					height: 100%;
					object-fit: contain;
					width: 100%;
				}
			}
			.relative-image{
				display: none;
				@media(max-width: 1024px){
					display: block;
				}
				img{
					max-width: inherit;
					height: auto;
					width: 100%;
					object-fit: contain;
				}
			}
			.container-bottom{
				&.topper {
					@include mq (md) {
						border-top: .1rem solid $btn-slide;
   					padding-top: 2rem;
					}
				}
			}
			.block-title{
				margin-bottom: 3%;
				padding-bottom: 1%;
				border-width: 1px;
				@media(max-height: 768px){
					margin-bottom: 2%;
				}
				.firsti{	
					.color-white{
						font-size: 62px;
						.color-red{
							display: inline;
							font-size: 62px;
						}
					}
					.color-red{
						font-size: 22px;
						margin-top: 0;
					}
				}
				.second{
					.color-red{
						.color-white{
							display: inline;
						}
					}
				}

			}
			.container-bottom{
				z-index: 9;
				.box-negative{
					p, span{
						text-transform: uppercase;
					}
				}
			}
		}
		.no-excuse-landing{
			.black{
				background: black;
			}
		}
	}
}