.modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 666;
	overflow: hidden;
	background-color: rgba(0,0,0,0.7);
	.modal-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;

		.modal-wrap-content {
			width: 90%;
			max-width: rem(680px);
			@include center('both');
			text-align: right;

			span {
				&.close-icon {
					cursor: pointer;
					display: inline-block;
					color: transparent;
					width: rem(27px);
					height: rem(27px);
					@include iconSVG('../images/icons/close-icon.svg', 27px);
					@include mq('md') {
						margin: rem(-10px) 0 0 0;
					}
				}
			}
		}
	}
}