body {
	&.carling-contact-us {
		background: $dk-brand;
		#block-system-main {
			position: relative;
			width: 100%;
			min-height: rem(666px);
			// @include bgcover;
			// @include mq('md') {
			// 	min-height: 100vh;
			// }
			.field-name-body{
				position: absolute;
				z-index: 2;
				padding: 0 rem(20px) 0;
				top: 50%;
				transform: translateY(-50%);
				@include mq('md') {
					left: 50%;
					width: 60%;
					max-width: rem(630px);
					top: 50%;
					transform: translate(-50%,-50%);
				}
				p{	
					font-family: $bd;
					color: $white;
					font-size: rem(22px);
					a{
						color: $white;
					}
					&:first-of-type{
						font-size: rem(45px);
						font-family: $td-lt-cn-20;
						color: $red;
						line-height: 1;
						@include mq(md){
							font-size: rem(90px);
						}
					}
					&:last-of-type{
						a{
							font-size: rem(18px);
						    padding: rem(8px) rem(41px);
						    border: rem(1px) solid;
						    font-family: $td-lt-cn-20;
						    text-align: center;
						    background: $red;
						    border-radius: 0;
						    text-transform: uppercase;
						    color: $white;
						    display: block;
						    margin-top: rem(28px);
							@include mq(md){
								display: inline-block;
								font-size: rem(16px);
								width: rem(180px);
							}
						}
					}
				}
			}
		}
	}
}