body {
	&.custom-castlelager-404 {
		background: $dk-brand;
		#block-system-main {
			position: relative;
			width: 100%;
			min-height: rem(666px);
			// @include bgcover;
			// @include mq('md') {
			// 	min-height: 100vh;
			// }
			.field-name-body{
				position: absolute;
				z-index: 2;
				padding: 0 rem(20px) 0;
				top: 50%;
				transform: translateY(-50%);
				text-align: center;
				@include mq('md') {
					left: 50%;
					width: 60%;
					max-width: rem(630px);
					top: 50%;
					transform: translate(-50%,-50%);
				}
				p{	
					font-family: $bd;
					color: $white;
					font-size: rem(22px);
					a{
						@include defBtn(16px, 41px, $white, rgba(0,0,0,0.3), $red);
						text-transform: uppercase;
						margin-top: rem(42px);
						display: block;
						@include mq(md){
							display: inline-block;
						}
					}
					&:first-of-type{
						font-size: rem(45px);
						font-family: $td-lt-cn-20;
						color: $red;
						line-height: 1;
						@include mq(md){
							font-size: rem(90px);
						}
					}
				}
			}
		}
	}
}