.front {
  #preview{
      &.modal{
        .btn {
          background-color: $dk-brand;
          border-radius: 5rem;
          color: $white;
          font-weight: bold;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .btnsFooter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
        @media(max-width: 580px){
          flex-direction: column;
        }
        a{
          height: 38px;
          width: 31%;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 12px;
          font-weight: 600;
          text-decoration: none;
          position: relative; 
          @media(max-width: 580px){
            width: 100%;
            margin: 0 0 15px;
          }
          svg{
            height: 16px;
            object-fit: contain;
            path{
              fill: white;
            }
          }
          span{
            color: white;
            font-size: 13px;
            font-weight: 600;
            margin-left: 8px;
            text-transform: uppercase;
            text-decoration: none; 
          }
          &:first-of-type{
            background: #e31937;
          }
          &:nth-of-type(2){
            background: #3b5998;
            &::before {
              @include mq (md) {
                @include pseudo();
                background-image: url('../images/icons/fb.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 2rem;
                height: 2rem;
                left: .5rem;
              }
            }
          }
          &:last-of-type{
            background: #55acee;
            &::before {
              @include mq (md) {
                @include pseudo();
                background-image: url('../images/icons/tw.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 2rem;
                height: 2rem;
                left: .7rem;
              }
            }
            @media(max-width: 580px){
              margin: 0;
            }
          }
        }
      }
    } 
}