body {
	&.custom-carling-black-legal {
		background: $dk-brand;
		.region-content{
			position: relative;
			width: 100%;
			color: $white;
			padding: 0 21px;
			font-family: $bd;
			text-transform: uppercase;
			min-height: rem(666px);
			@include bgcover;
			@include mq('md') {
				min-height: 100vh;
				width: 50%;
				max-width: rem(640px);
				margin: auto;
				color: $white;
			}
		}
		#block-menu-menu-legal-menu{
			margin-top: 20vh;
			a{
				color: $white;
			    font-size: rem(24px);
			    padding: 0;
			    margin: rem(7px) 0;
				font-family: $td-got-lt-std-bd-Cn-20;
				position: relative;
				display: inline-block;
				@include mq(md){
					font-size: rem(30px);
					margin: rem(10px) 0;
				}
				&.active,
				&:hover{
					background: transparent;
					&:before{
						content: '';
						position: absolute;
						height: rem(2px);
						width: 100%;
						background: $red;
						left: 0;
						bottom: 0;
					}
				}
			}
			@include mq(md){
				.menu.nav{
				    display: flex;
    				justify-content: space-between;
    				margin-bottom: rem(21px);
    				li.first{
    					margin-right: auto;
    				}
    				li.last{
    					margin-left: auto;
    				}
				}
			}
		}
		#block-system-main {
			h2{
				font-family: $td-got-lt-std-bd-Cn-20;
				font-size: rem(18px);
				margin-bottom: rem(21px);
			}
		}
	}
}