body {
	&.custom-carling-black-noexcuse {
		#block-system-main {
			position: relative;
			width: 100%;
			min-height: rem(666px);
			@include bgcover;
			@include mq('md') {
				min-height: 100vh;
			}

			.field-name-body {
				width: 100%;
				max-width: rem(1080px);				
				margin: rem(360px) auto 0;
				@include mq('md') {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					text-align: left;
					margin: 0 auto 0;
					bottom: rem(128px);
				}
				.carling-black-noexcuse-banner-item-caption {
					position: unset;				
					left: 0;
					width: 100%;					
					text-align: center;
					z-index: 2;
					transform: none;
					top: inherit;
					@include mq('md') {
						transform: none;
						top: inherit;
						width: 50%;
						text-align: left;
						margin: 0 0 0 0;
					}

					h3,h4 {
						line-height: 1;
						margin: 0;
						font-family: $bd;
						font-weight: bold;
						display: inline-block;
						text-transform: uppercase;
						@include font(50px);
						font-weight: bold;
						letter-spacing: rem(-1.6px);
						@include mq('md') {
							@include font(80px);						
							letter-spacing: rem(-2.6px);
						}
					}

					h3 {
						color: $white;
					}

					h4 {
						color: $wine;
					}

					h5 {
						color: $white;
						font-family: $bd;					
						letter-spacing: rem(5px);
						@include font(20px);
						@include mq('md') {
							@include font(22px);
						}								
					}

					a {
						margin-top: rem(15px);
						@include defBtn(16px, 41px, $white, rgba(0,0,0,0.3), $red);
						text-transform: uppercase;
						display: block;
						width: 100%;
						@include mq('md') {
							width: auto;
							display: inline-block;
						}
					}
				}
			}
		}
	}
}