$color-white: #ffffff;
$color-black: #000000;
$color-red: #e31937;
$color-grey: #4f4f4f;
$tradeGothic: 'Trade Gothic LT Std BdCn20';

$xs: 320px !default;
$sm: 575px !default;
$md: 768px !default;
$ls: 1024px !default;
$xl: 1200px !default;
$xls: 1440px !default;
$l: 1590px !default;
$x: 1920px !default;

$h: 800px !default;
$xh: 900px !default;
$h: 1080px !default;



// body {
//   &.page-agegate {
//     @media (min-width: $ls){
//       display: flex;
//       flex-direction: column;
//       height: 100vh;
//       overflow: hidden;
//     }
//   }
// }

.general-no-excuse {
  background: $color-black;
  //padding-top: 10rem;
  //padding-bottom: 4rem;

  @media (min-width: $ls){
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    height: 100%;
  }

  @media (min-height: $xh) {
    height: 90%;
  }


  .wrapper-block {
    @media (min-width: $ls){
      position: relative;
      height: 100%;
      z-index: 4;
    }

    .container-bottom {
      @media (min-width: $ls){
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
      }
      // @media (min-height: $h){
      //   bottom: 0;
      //   top: 50%;
      // }
    }
  }

  .block-nav {
    .container{
      position: relative;
    }
    .box-logo {
      max-width: 110px;
      position: relative;
      top: 15px;
      z-index: 10;

      @media (min-width: $md){
        position: absolute;
        left: 0;
        top: 25px;
        width: 180px;
      }
      @media (min-width: $l) {
        top: 50px;
      }
    }
  }

  .block-title {
    display: none;

    @media (min-width: $ls){
      display: block;
      border-bottom: 4px solid $color-red;
      margin-bottom: 4rem;
    }
    @media (min-width: $xl){
      margin-bottom: 2rem;
    }
    @media (min-width: $xls){
      margin-bottom: 4rem;
    }

    .title {
      font-size: 3rem;
      margin: 0;
      line-height: 1;
      padding-bottom: 2rem;

      @media (min-width: $md){
        font-size: 4rem;
      }
      @media (min-width: $xls){
        font-size: 5rem;
      }

      span {
        display: block;
      }
    }
  }

  .block-nav-lg {
    display: none;

    @media (min-width: $ls){
      display: block;
    }

    .nav-tabs {
      border-bottom: 0;
      padding-bottom: 0;
      padding-top: 2rem;
      margin: 0;

      .first {
        padding-bottom: 1rem;
      }

      > li {
        display: block;
        float: none;
        width: 100%;

        @media (min-width: $ls){
          width: 70%;
        }

        a {
          background: $color-black;
          border-radius: 0;
          border: 1px solid $color-red;
          color: $color-white;
          display: block;
          font-family: $tradeGothic;
          line-height: 1;
          margin: 0;
          text-align: center;
        }

        &.active {
          > a {
            background: $color-red;
            border-radius: 0;
            border: 1px solid $color-red;
            color: $color-white;
            font-family: $tradeGothic;
            cursor: pointer;

            &:hover {
              border: 1px solid $color-white;
              background: $color-white;
              color: $color-red;
            }
            &:focus {
              border: 1px solid $color-white;
              background: $color-white;
              color: $color-red;
              outline: 0;
            }
          }
        }
      }
    }
  }

  .row {
    margin: 0;

    &.box-row {
      padding-top: 2rem;
      border-top: 4px solid $color-red;

      @media (min-width: $ls){
        border-top: 0;
        padding-top: 0;
        margin: 0;
      }

      .box-item {
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;

          @media (min-width: $ls){
            padding: 0;
          }
        }

        .box-desk {
          display: none;

          @media (min-width: $md){
            display: block;
          }
        }
        .box-mobile {
          @media (min-width: $md){
            display: none;
          }
        }
      }
    }
  }

  .box-nav {
    .nav-tabs {
      border-bottom: 0;
      padding-bottom: 1.5rem;

      @media (min-width: $ls){
        display: none;
      }

      .first {
        padding-right: .5rem;
      }
      .last {
        padding-left: .5rem;
      }

      > li {
        a {
          background: $color-black;
          border-radius: 0;
          border: 1px solid $color-red;
          color: $color-white;
          font-family: $tradeGothic;
          line-height: 1;
          margin: 0;
        }

        &.active {
          > a {
            background: $color-red;
            border-radius: 0;
            border: 1px solid $color-red;
            color: $color-white;
            font-family: $tradeGothic;
            cursor: pointer;

            &:hover {
              border: 1px solid $color-white;
              background: $color-white;
              color: $color-red;
            }
            &:focus {
              border: 1px solid $color-white;
              background: $color-white;
              color: $color-red;
              outline: 0;
            }
          }
        }
      }
    }
  }

  .block-min-text {
    color: $color-white;
    font-size: 1.25rem;
    text-transform: uppercase;
  }


  .block-info {
    padding-bottom: 4rem;

    .block-title {
      display: block;

      @media (min-width: $ls){
        display: none;
      }
    }

    .box-negative {
      @media (min-width: $ls){
        margin: 0 -15px;
      }
    }
  }


  .block-image {
/*    @media (min-width: $ls) {
      position: relative;
      top: -70px;
    }
    @media (min-width: $ls) and (min-height: $xh) {
      position: relative;
      top: -110px;
    }*/

    @media (min-width: $xl) {
      position: relative;
      top: -30px;
    }

    @media (min-width: $xls) {
      position: relative;
      top: 80px;
    }
    @media (min-height: $h) {
      position: absolute;
      top: 20%;
      transform: translateY(-20%);
      left: 0;
      right: 0;
    }
    @media (min-height: $xh) {
      top: 30%;
      transform: translateY(-30%);
    }

    picture {
      display: block;
      max-width: 910px;
      margin: 0 auto;


      @media (min-width: $l) {
        max-width: 100%;
      }
    }

    img {
      width: 100%;
    }
  }


  .color-white {
    color: $color-white;
  }
  .color-red {
    color: $color-red;
  }

  .block-animated-text {
    .block-slide {
      margin-left: -15px;

      @media (min-width: $ls){
        margin-left: 0;
      }
    }

    .item {
      p {
        color: $color-white;
        font-size: 2.5rem;
        font-family: $tradeGothic;
        line-height: 1;

        @media (min-width: $md){
          font-size: 4rem;
        }
      }
    }
  }

  .box-form {
    margin: 0 -15px;

    .wrapper-date {
      float: left;
      width: 100%;
      //padding-bottom: 2rem;

      .form-item {
        float: left;
        margin-bottom: 0;
        width: 33.335%;
        //padding: 0 1rem;

        .nice-select {
          border-bottom: 1px solid $color-red;
        }
      }
    }
  }


  .wrapper-datos {
    float: left;
    width: 100%;
    //padding-bottom: 2rem;

    .form-item {
      float: left;
      margin-bottom: 0;
      width: 50%;
      //padding: 0 .5rem;
    }
  }

  .txt_dontstay {
    float: left;
    width: 100%;
    padding-top: 1rem;

    p {
      color: $color-white;
      font-size: 0.9rem;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    a {
      color: $color-white;
      font-size: 0.9rem;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  .block-btn {
    float: left;
    width: 100%;
    padding-top: 2rem;
    text-align: center;

    .form-submit {
      background: $color-grey;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border: 1px solid $color-grey;
      color: $color-white;
      font-family: $tradeGothic;
      width: 100%;

      @media (min-width: $md){
        width: 50%;
        margin: 0 auto;
      }

      &:hover {
        background: $color-red;
        border: 1px solid $color-red;
      }
    }
  }

  .nice-select {
    background: $color-black;
    border: 1px solid $color-red;
    border-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: $color-white;
    display: block;
    font-size: 1.25rem;
    height: auto;
    line-height: 1.6;
    padding: 6px 12px;
    text-transform: uppercase;
    width: 100%;

    span {
      color: $color-white;
      font-size: 1.25rem;
      text-transform: uppercase;
    }

    .option {
      &.focus {
        background: $color-white;
        color: $color-red;
      }

      &:hover {
        background: $color-white;
        color: $color-red;
      }

      &.selected {
        &.focus {
          background: $color-white;
          color: $color-red;
        }
      }
    }

    .list {
      background: $color-black;
      border: 1px solid $color-red;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      color: $color-white;
      display: block;
      font-size: 1.25rem;
      //max-height: 250px;
      max-height: 130px;
      overflow-y: scroll;
      text-transform: uppercase;
      width: 100%;
    }
  }

  .box-bottom {
    padding: 0;
    padding-top: 1rem;
    float: left;

    @media (min-width: $md){
      padding: 0 1rem;
      //float: none;
    }
  }

  .form-item {
    float: left;
    width: 100%;
    margin-bottom: 0;
    position: relative;

    &.error {
      &:after {
        content: '*';
        position: absolute;
        right: 25px;
        top: 55%;
        transform: translate(0,-50%);
      }

      .nice-select {
        span {
          color: $color-red;
        }
      }

      input {
        background: $color-black;
        border: 1px solid $color-red;
        border-bottom: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        color: $color-red;
        font-size: 1.25rem;
        text-transform: uppercase;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $color-red;
          font-size: 1.25rem;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $color-red;
          font-size: 1.25rem;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $color-red;
          font-size: 1.25rem;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $color-red;
          font-size: 1.25rem;
        }
      }
    }

    input {
      background: $color-black;
      border: 1px solid $color-red;
      border-bottom: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      color: $color-white;
      font-size: 1.25rem;
      text-transform: uppercase;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color-white;
        font-size: 1.25rem;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $color-white;
        font-size: 1.25rem;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $color-white;
        font-size: 1.25rem;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $color-white;
        font-size: 1.25rem;
      }
    }
  }

  .box-legal {
    float: left;
    padding-top: 2rem;
  }

  /* Base for label styling */

  .form-type-checkbox {
    label {
      color: $color-white;
      font-size: 1.25rem;
      letter-spacing: 1px;
      //font-family: $tradeGothic;

      span {
        display: block;
        padding-left: 1.95rem;

        @media (min-width: $md){
          position: relative;
          top: 1px;
        }

        &.form-required {
          display: none;
        }
      }

      a {
        color: $color-white;
        text-decoration: underline;

        &:hover {
          color: $color-white;
        }
      }
    }
  }



  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
/*    position: absolute;
    left: -9999px;*/
    position: absolute;
    left: 0;
    height: 20px;
    margin: 0;
    opacity: 0;
    top: 4px;
    z-index: 2;
    width: 100%;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    cursor: pointer;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid $color-white;
    background: $color-black;
    border-radius: 0;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    font-family: $tradeGothic;
    position: absolute;
    top: 7px;
    left: 5px;
    font-size: 1.25rem;
    line-height: 0.8;
    color: $color-red;
    transition: all .2s;
  }
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
}

.no-excuse-landing {
  &.block-footer {
    background: $color-black;
    padding: 2rem 0;

    @media (min-width: $ls){
      border-top: 2px solid $color-red;
      //padding-top: 4rem;
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
      z-index: 2;
    }

    .row {
      margin: 0;
    }

    .block-logo {
      width: 251px;
      margin: 0 auto;
      padding-bottom: 2rem;

      @media (min-width: $ls){
        position: relative;
        padding: 0;
        top: -10px;
        //width: 100%;
      }

      img {
        width: 100%;
      }
    }

    .principal-footer {
      border-top: 1px solid $color-red;
      border-bottom: 1px solid $color-red;
      padding: 2rem 0;
      text-align: center;
      float: left;
      width: 100%;

      @media (min-width: $ls){
        border: 0;
        padding: 0;
        padding-left: 1rem;
      }

      p {
        color: $color-white;
        font-size: 1.25rem;
        //font-family: $tradeGothic;
        line-height: 1;
        margin: 0;
        padding-top: .5rem;
        text-transform: uppercase;
      }

      ul {
        padding: 0;
        margin: 0;
        display: block;
        float: left;
        width: 100%;

        @media (min-width: $ls){
          display: flex;
        }

        li {
          display: inline-flex;
          border-right: 1px solid $color-white;
          padding: 0 1rem;

          &.last {
            padding-right: 0;
            border-right: 0;
          }

          a {
            display: block;
            color: $color-white;
            font-size: 1.25rem;
            //font-family: $tradeGothic;
            line-height: 1;
            text-transform: uppercase;
          }
        }
      }
    }

    .bottom-footer {
      float: left;
      width: 100%;
      padding-top: 2rem;
      text-align: center;

      @media (min-width: $ls){
        border: 0;
        padding: 0;
      }

      p {
        color: $color-white;
        font-size: 1.1rem;
        font-family: $tradeGothic;
        line-height: 1;
        text-transform: uppercase;

        @media (min-width: $md){
         margin: 0;
          font-size: 1.25rem;
        }
      }
    }
  }
}
