body {
	&.custom-carling-black-our-work {
		#block-system-main {
			position: relative;
			width: 100%;
            min-height: rem(666px);
            
			@include bgcover;
			@include mq('md') {
				min-height: 100vh;
			}

			.field-name-body {
                width: 100%;                
                .field-items {
                    @include wrapper;
                    position: relative;
                    min-height: rem(666px);
                    @include mq('md') {
                        min-height: 100vh;
                    }
                    .field-item {
                        position: absolute;	
                        width: 100%;
                        bottom: 0;
                        padding: rem(20px);			
                        text-align: center;
                        z-index: 2;
                        transform: none;
                        @include mq('md') {
                            width: 50%;
                            right: 0;
                            bottom: inherit;
                            padding-left: rem(180px);
                            text-align: left;
                            @include center('vertical');
                        }
    
                        h3,h4 {
                            line-height: 1;
                            margin: 0;
                            font-family: $bd;
                            font-weight: bold;
                            display: inline-block;
                            text-transform: uppercase;
                            @include font(50px);
                            font-weight: bold;
                            @include mq('md') {
                                @include font(80px);						
                                letter-spacing: rem(-2.6px);
                            }
                        }
    
                        h3 {
                            color: $white;
                        }
    
                        h4 {
                            color: $wine;
                        }
    
                        h5 {
                            color: $white;
                            font-family: $bd;
                            @include font(20px);
                            @include mq('md') {
                                @include font(22px);
                            }								
                        }

                        p {
                            @include font(14px);
                            color: $white;
                            text-transform: uppercase;
                            @include mq('md') {
                                @include font(16px);
                            }
                        }
    
                        a {
                           &.play-video {
                               display: block;
                               width: rem(90px);
                               height: rem(90px);
                               @include iconSVG('../images/icons/play-icon.svg', 100%);                               
                               opacity: 0.56;
                               transition: all 0.4s;
                               margin: 0 auto;
                               @include mq('md') {
                                    transform: none;
                                    @include center('vertical');
                                    left: 0;                                
                                    width: rem(120px);
                                    height: rem(120px);
                                }
                                &:hover {
                                    background-color: transparent;
                                    opacity: 1;
                                } 
                            }
                        }
                    }
                }
			}
		}
	}
}