body {
	&.custom-carling-black-take-action {
		#block-system-main {
			position: relative;
			width: 100%;
			min-height: rem(666px);
			@include bgcover;
			@include mq('md') {
				min-height: 100vh;
			}

			.field-name-body {
				.carling-black-take-action-banner-item-caption {
					position: absolute;
					z-index: 2;
					padding: 0 rem(20px) 0;
					top: 50%;
    				transform: translateY(-50%);
					@include mq('md') {
						left: 50%;
						width: 50%;
						max-width: rem(533px);
						top: 50%;
						transform: translate(-50%,-50%);
					}

					h2,h3,h4 {
						line-height: 1;
						margin: 0;
						font-family: $bd;
						font-weight: bold;
						display: inline-block;
						@include font(50px);
						font-weight: bold;
						letter-spacing: rem(-1.6px);
						@include mq('md') {
							@include font(80px);						
							letter-spacing: rem(-2.6px);
						}
					}

					h2,h4 {
						color: $light-red;
					}
					h5{
						color: $white;
					    font-size: rem(22px);
					}

					h3 {
						color: $white;
					}

					p {
						@include font(16px);
						font-family: $td-cn-18;
						color: $white;
						@include mq('md') {
							@include font(18px);
						}
						&:last-child{
							color: $light-red;
							font-family: $bd;
							font-size: rem(22px);
						}
					}

					a {
						margin-top: rem(15px);
						@include defBtn(16px, 41px, $white, rgba(0,0,0,0.3), $red);
						text-transform: uppercase;
						display: block;
						width: 100%;
						@include mq('md') {
							width: auto;
							display: inline-block;
						}
					}
				}
			}
		}
		#content-footer{
			background: #1a1a1a;
			.view-banner-take-action-2{
				.view-content{
					height: 410px;
					@include mq(md){
						height: inherit;
					}
				}
			}
			.view-footer{
				padding: 0 rem(20px) rem(50px);
				p{
					font-family: $td-got-lt-std-bd-Cn-20;
					color: $light-red;
					font-size: rem(45px);
					margin: 0;
					line-height: 1;
					&:last-of-type{
						color: $white;
						font-size: rem(20px);
						font-family: $bd;
					}
				}
				.view-content{
					height: inherit;
				}
				@include mq(md){
					position: absolute;
					top: 64%;
					z-index: 2;
				}
			}
			.webform-client-form{
			    padding: 0 2em 6em;
    			text-align: center;
    			@include mq(md){
    				padding: 0;
    			}
				.form-item{
					display: inline-block;
					margin-bottom: 0;
					&.form-type-checkboxes{
						margin-top: rem(14px);
					}
					&.form-type-select{
						position: relative;
						&:after{
							content: '';
							position: absolute;
							border-top: 10px solid $black;
							border-right: 8px solid transparent;
							border-left: 8px solid transparent;
						    top: 45%;
    						right: 8%;
						}
					}
					label{
						display: none;
					}
					input, select{
						max-width: rem(255px);
					    height: rem(40px);
					    border-radius: 0;
					    width: rem(255px);
					    margin: rem(14px);
					    font-family: $td-bd-2;
					    text-transform: uppercase;
					    @include placeholder {
						    color: $black;
						}
					}
				}
				.form-submit{
				    font-size: rem(16px);
				    padding: rem(8px) rem(41px);
				    border: rem(1px) solid;
				    font-family: $td-lt-cn-20;
				    text-align: center;
				    background: $light-red;
				    border-radius: 0;
				    text-transform: uppercase;
				    width: rem(180px);
				    margin-top: rem(28px);
				    @include mq('md'){
				    	margin-top: rem(14px);
				    }
				}
				.form-type-checkbox{
					display: block;
				    margin-bottom: 14px;
					label{
						display: block;
						width: rem(255px);
    					color: $white;
    					position: relative;
    					cursor: pointer;
    					font-family: $bd;
    					padding-left: 30px;
						&:before {
						  content: ''; 
						  position: absolute;
						  top: 0;
						  left: 0;
						  height: rem(20px);
						  width: rem(20px);
						  background-color: $white;
						}
						.checkmark{
						  	position: absolute;
						  	display: none;
						    left: rem(7px);
						    top: rem(2px);
						    width: rem(7px);
						    height: rem(14px);
						    border: solid #262626;
						    border-width: 0 rem(3px) rem(3px) 0;
						    transform: rotate(45deg);
						  }
					}
					input{
						position: absolute;
					  	opacity: 0;
					  	cursor: pointer;
					  	height: 0;
					  	width: 0;
					  	&:checked ~ .checkmark{
					  		display: block;
					  	}
					}
				}
			}
			@include mq('md'){
				.region-content-footer{
				    display: flex;
    				align-items: center;
    				max-width: rem(1080px);
    				margin: 0 auto;
    				#block-views-banner-take-action-2-block{
    					width: 45%;
    					position: relative;
    					padding-bottom: 10%;
    				}
    				.block-webform{
    					width: 55%;
					    padding-top: 16%;
    					.form-actions{
    						display: inline-block;
						    margin-left: rem(100px);
						    vertical-align: top;
    					}
    					.form-type-checkbox{
    						text-align: left;
    					}
    				}
				}
			}
		}
	}
}