.home-carling-black-banner-item {
	position: relative;
	width: 100%;
	min-height: rem(666px);
	@include mq('md') {
		height: 100vh;
		min-height: rem(810px);
	}

	&-image-desktop, 
	&-image-mobile {
		@include coverAbsolute (2);
		@include bgcover;
		background-position: top center;
		img {
			display: none;
		}
	}

	&-image-desktop {
		display: none;		
		@include mq('md') {
			display: block;
		}
	}
	&-image-mobile {
		display: block;
		@include mq('md') {
			display: none;
		}
	}

	&-caption {
		position: absolute;
		z-index: 2;
		padding: rem(110px) rem(20px);
		@include mq('md') {
			left: 50%;
			width: 50%;
			max-width: rem(533px);
			top: 50%;
			transform: translate(-50%,-50%);
		}

		h2,h3,h4 {
			line-height: 1;
			margin: 0;
			font-family: $bd;
			font-weight: bold;
			display: inline-block;
			@include font(50px);
			font-weight: bold;
			letter-spacing: rem(-1.6px);
			@include mq('md') {
				@include font(80px);						
				letter-spacing: rem(-2.6px);
			}
		}

		h2,h4 {
			color: $white;
		}
		h2 span{
			color: $red;
		}

		h3 {
			color: $red;
		}

		p {
			@include font(16px);
			color: $white;
			@include mq('md') {
				@include font(18px);
				line-height: 1.2;
    			margin-top: rem(14px);
			}
		}

		a {
			margin-top: rem(15px);
			@include defBtn(16px, 41px, $white, rgba(0,0,0,0.3), $red);
			text-transform: uppercase;
			display: block;
			width: 100%;
			@include mq('md') {
				width: auto;
				display: inline-block;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}

	&.right {
		.home-carling-black-banner-item-caption {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			padding: 0 rem(20px) rem(38px);
			@include mq('md') {
				padding: 0 rem(255px) 0 0;
				bottom: unset;
				padding: inherit;
				left: initial;
				max-width: inherit;
				right: 0;
				width: 40%;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	&.custom-carling-black-home-banner-2 {
		h4 {
			display: inline-block;
			@include mq('md') {
				display: block;
			}
		}

		p {
			margin-top: rem(20px);
			font-family: $td-lt-light;
		    font-size: rem(15px);
		}

		a {
			background-image: url('../images/brand/forgood.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: rem(133px);
			width: rem(311px);
			height: rem(69px);
			overflow: hidden;
			text-indent: -99999px;
			&:hover {
				background-color: $black;
			}
			@include mq('md'){
				margin-bottom: rem(42px);
			}
		}
	}
}