.our-wook-carling-black-banner-item {
	position: relative;
    width: 100%;
	min-height: rem(666px);
	@include bgcover;
    @include mq('md') {
        min-height: 100vh;
    }

    &-image-desktop, 
	&-image-mobile {
		display: none;
	}

	&-caption {
		@include wrapper;
		h3,h4 {
			line-height: 1;
			margin: 0;
			font-family: $bd;
			font-weight: bold;
			display: inline-block;
			text-transform: uppercase;
			@include font(50px);
			font-weight: bold;
			letter-spacing: rem(-1.6px);
			@include mq('md') {
				@include font(80px);						
				letter-spacing: rem(-2.6px);
			}
		}

		h3 {
			color: $white;
		}

		h4 {
			color: $wine;
		}

		h5 {
		    color: $white;
		    font-family: $bd;
		    @include font(18px);
		    @include mq('md') {
		        @include font(22px);
		    }								
		}

		p {
		    @include font(14px);
		    color: $white;
		    text-transform: uppercase;
		    @include mq('md') {
		        @include font(16px);
		    }
		}

		a {
			margin-top: rem(15px);
			@include defBtn(16px, 41px, $white, rgba(0,0,0,0.3), $red);
			text-transform: uppercase;
			display: block;
			width: 100%;
			@include mq('md') {
				width: auto;
				display: inline-block;
			}
		   	&.play-video {
				display: block;
				margin: 0 auto;
				border: none;
				padding: inherit;
				width: rem(90px);
				height: rem(90px);
				background-color: transparent;
				opacity: 0.56;
				@include iconSVG('../images/icons/play-icon.svg', 100%);
				transition: all 0.4s;
				
				@include mq('md') {
					transform: none;
					@include center('vertical');
					left: 0;                                
					width: rem(120px);
					height: rem(120px);
				}

				&:hover {
					background-color: transparent;
					opacity: 1;
				}  
		    }
		}
	}

	// Sequence Banners
	&.custom-carling-black-our-work {

		// First Banner
		&-banner-1 {						
			a {
				&.play-video {
					@include mq('md') {
						@include center('both');
					}
				}
			}

			.our-wook-carling-black-banner-item-caption {
				position: relative;
				@include wrapper;
				padding: rem(140px) 0 0;
				@include mq('md') {
					padding: 0 0;
					@include center('both');
					width: 100%;
					text-align: left;
				}

				&--inner {
					display: block;
					padding: rem(20px);			
					text-align: center;
					z-index: 2;
					transform: none;
					max-width: rem(420px);
					@include mq('md') {
						display: inline-block;
						text-align: left;
					}
				}
			}
		}

		// Audios banner
		&-banner-2 {
			padding: rem(60px) rem(20px);
			background-position: center top;
			background-color: $black;
			background-size: contain;
			min-height: auto;
			@include mq('md') {
				padding: rem(120px) rem(0px);
				min-height: 100vh;
			}

			.our-wook-carling-black-banner-item-caption {
				max-width: rem(1300px);
				min-height: auto;
				@include mq('md') {
					min-height: auto;
				}
				&--inner {
					max-width: rem(1080px);
					margin: 0 auto;
					h4,h5{
						max-width: rem(450px);
					}
					p {
						max-width: rem(420px);
					}

					h4 {
						display: inline-block;
						width: rem(239px);
						height: rem(58px);
						@include iconSVG('../images/titles/isizathu.svg', 100%);
					}
				}

				// Audios
				#block-views-episode-list-block {
					h2 {
						&.block-title {
							margin: rem(22px) 0;
							display: block;
							font-family: $td-bd;
							text-align: center;
							text-transform: uppercase;
							color: $red;
							@include font(16px);
							@include mq('md') {
								@include font(22px);
							    margin-top: rem(60px);
							}
						}
					}

					.view-episode-list {
						display: block;
						background-color: rgba(0,0,0,0.7);
						.view-content {
							@include mq('md') {
								display: flex;
								flex-wrap: wrap;
							}
							.item-list {
								display: block;
								text-align: center;
								
								@include mq('md') {
									width: 20%;
								}
	
								h3 {
									margin: rem(22px) auto;
									display: block;
									font-family: $td-bd;
									text-align: left;
									text-transform: uppercase;
									color: $white;
									@include font(16px);
									@include mq('md') {
										@include font(22px);
										max-width: rem(220px);
										font-family: $td-lt-cn-20;
										letter-spacing: inherit;
									}
								}
	
								ul {
									padding: 0 0 0 0;
									li {
										display: block;
									}
									.views-row  {
										ul {
											li {
												position: relative;												
												min-height: rem(38px);
												border: rem(1px) solid $white;
												margin: 0 auto rem(10px);
												@include mq('md') {
													max-width: rem(220px);
												}

												.episode-language {
													@include font(12px);
													letter-spacing: 4px;
													text-transform: uppercase;
													padding: rem(10px) rem(38px);
													color: $white;
													a {
														&.dl-icon {
															margin: 0 0 0 0;
															position: absolute;
															top: 0;
															right: 0;													
															display: block;
															padding: 0;
															width: rem(38px);
															height: rem(38px);
															border: rem(1px) solid $white;
															@include iconSVG('../images/icons/download-arrow.svg', 14px);
														}														
													}
												}

												.episode-link-audio-file {
													position: relative;
													padding: rem(15px) 0 0;											
													audio {
														display: block;
														width: 100% !important;
													}
													.mejs-container {
														width: 100% !important;
														background: transparent;
														.mejs-controls {
															width: 100% !important;
															.mejs-time-rail {
																width: 100%;
																padding: rem(9px) rem(10px);
																.mejs-time-current {
																	display: block;
																	transform: none;
																	background-color: rgba(255,255,255,0.8);
																	z-index: 100;
																}
																.mejs-time-handle {
																	background-color: $white;
																	padding: rem(4px);
																	padding: rem(4px);
																	top: rem(-2px);
																	border-radius: 100%;
																	z-index: 102;
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}