.carling-black-noexcuse-banner-item {
	position: relative;
	width: 100%;
	min-height: rem(666px);
	
	@include mq('md') {
		height: 100vh;
		min-height: rem(846px);
	}

	&-image-desktop, 
	&-image-mobile {
		@include coverAbsolute (2);
		@include bgcover;
		img {
			display: none;
		}
	}

	&-image-desktop {
		display: none;
		background-position: top center;
		@include mq('md') {
			display: block;
		}
	}
	&-image-mobile {
		display: block;
		@include mq('md') {
			display: none;
		}
	}

	&-caption {
		position: relative;
		padding: rem(60px) rem(20px) rem(40px);
		margin: 0 auto;
		width: 100%;
		z-index: 3;
		@include mq('md') {
			padding: rem(160px) 0 0;
			max-width: rem(1300px);	
		}

		h2,h3,h4 {
			line-height: 1;
			margin: 0;
			font-family: $bd;
			font-weight: bold;
			display: inline-block;
			@include font(50px);
			font-weight: bold;
			letter-spacing: rem(-1.6px);
			@include mq('md') {
				@include font(80px);						
				letter-spacing: rem(-2.6px);
			}
		}

		h2,h4 {
			color: $white;
		}

		h3 {
			color: $red;
		}

		p {
			@include font(16px);
			color: $white;
			@include mq('md') {
				@include font(18px);
			}
		}

		a {
			margin-top: rem(15px);
			@include defBtn(16px, 41px, $white, rgba(0,0,0,0.3), $red);
			text-transform: uppercase;
			display: block;
			width: 100%;
			@include mq('md') {
				width: auto;
				display: inline-block;
			}
		}
	}

	// Video Banner
	&.custom-carling-black-noexcuse-banner-1 {
		text-align: center;
		position: relative;
		@include mq('md') {
			text-align: left;
		}
		
		> p {
			margin: 0 0 0 0;
		}

		a {
			&.play-video {
				display: block;
				margin: 0 auto;
				border: none;
				padding: inherit;
				width: rem(90px);
				height: rem(90px);
				background-color: transparent;
				opacity: 0.56;
				@include iconSVG('../images/icons/play-icon.svg', 100%);
				transition: all 0.4s;
				z-index: 4;

				position: relative;
				top: rem(82px);
				@include mq('md') {
					transform: none;
					@include center('both');                            
					width: rem(120px);
					height: rem(120px);
				}

				&:hover {
					background-color: transparent;
					opacity: 1;
				}  
			}
		}
		
		.carling-black-noexcuse-banner-item-caption {
			position: relative;
			@include wrapper;
			padding: rem(140px) 0 0;
			@include mq('md') {
				padding: 0 0;
				@include center('both');
				width: 100%;
				text-align: right;
			}

			&--inner {
				padding: 0 rem(20px);
				text-align: center;

				@include mq('md') {
					max-width: rem(420px);
					display: inline-block;
					text-align: left;
				}

				h2 {
					@include font(30px);
					display: block;
					@include mq('md') {
						@include font(60px);
					}
					span {					
						width: rem(124px);
						height: rem(24px);						
						@include iconSVG('../images/brand/no-excuse-logo.png', 124px);
						display: block;
						@include mq('md') {
							width: rem(330px);
							height: rem(64px);
							@include iconSVG('../images/brand/no-excuse-logo.png', 330px);
							display: block;
						}
					}
				}
			}
		}

		.carling-black-noexcuse-banner-item-youtube {
			display: none;		
		}
	}
	
	// Last Banner
	&.custom-carling-black-noexcuse-banner-2 {
		.carling-black-noexcuse-banner-item-caption {
			
			@include mq('md') {
				@include wrapper;
				padding: 0 0;
				@include center('both');
				width: 100%;
				text-align: left;
			}

			h2 {
				display: inline-block;
				max-width: rem(340px);
				@include mq('md') {
					max-width: rem(420px);
					font-size: rem(60px);
				}
				span {
					display: block;
					width: rem(200px);
					height: rem(37px);
					@include iconSVG('../images/brand/logo-excuse.svg', 100%);
					@include mq('md') {
						width: rem(331px);
						height: rem(70px);
					}
				}
			}

			h3 {
				color: $white;
				display: block;
				margin-bottom: rem(16px);
				@include mq('md') {
					font-size: rem(80px);
				}
			}

			p {
				max-width: rem(421px);
				margin-top: rem(25px);
			}
		}
	}
}