.take-action-carling-black-banner-item{
	position: relative;
	width: 100%;
	min-height: rem(666px);
	@include mq('md') {
		height: 100vh;
		min-height: rem(810px);
	}

	&-image-desktop, 
	&-image-mobile {
		@include coverAbsolute (2);
		@include bgcover;
		img {
			display: none;
		}
	}

	&-image-desktop {
		display: none;		
		@include mq('md') {
			display: block;
		}
	}
	&-image-mobile {
		display: block;
		@include mq('md') {
			display: none;
		}
	}

	&-caption {
		position: absolute;
		z-index: 2;
		padding: 0 rem(20px) 0;
		top: 50%;
		transform: translateY(-50%);
		@include mq('md') {
			left: 50%;
			width: 50%;
			max-width: rem(533px);
			top: 50%;
			transform: translate(-50%,-50%);
		}

		h2,h3,h4 {
			line-height: 1;
			margin: 0;
			font-family: $bd;
			font-weight: bold;
			display: inline-block;
			@include font(50px);
			font-weight: bold;
			letter-spacing: rem(-1.6px);
			@include mq('md') {
				@include font(80px);						
				letter-spacing: rem(-2.6px);
			}
		}

		h2,h4 {
			color: $light-red;
		}

		h3 {
			color: $white;
		}

		p {
			@include font(16px);
			font-family: $td-cn-18;
			color: $white;
			text-transform: uppercase;
			&:last-of-type{
				a{
					color: $light-red;
					font-size: rem(22px);
					font-family: $bd;
				}
			}
			// @include mq('md') {
			// 	@include font(18px);
			// }
		}

		a {
		    font-size: 1.6rem;
		    font-family: $td-cn-18;
		    color: $white;
		    text-transform: uppercase;
		    text-decoration: underline;
			// margin-top: rem(15px);
			// @include defBtn(16px, 41px, $white, rgba(0,0,0,0.3), $red);
			// text-transform: uppercase;
			// display: block;
			// width: 100%;
			// @include mq('md') {
			// 	width: auto;
			// 	display: inline-block;
			// }
		}
	}
	&.custom-carling-black-take-action-banner-2{
		.take-action-carling-black-banner-item-caption{
			top: 35%;
			@include mq(md){
				width: 100%;
				top: 50%;
			}
			h5, h6{
				@include font(25px);
				font-family: $bd;
				margin: 0;
				color: $white;
			}
			h5:nth-child(4){
				margin: rem(28px) 0 rem(14px);
			}
			h4, h6{
				color: $light-red;
			}
		}
		// background: #1a1a1a;
		// .take-action-carling-black-banner-item-caption{
		// 	left: 30%;
		// 	h5, h6{
		// 		@include font(21px);
		// 		font-family: $td-bd-2;
		// 		margin: 0;
		// 		color: $white;
		// 	}
		// 	h5:nth-child(4){
		// 		margin: rem(28px) 0 rem(14px);
		// 	}
		// 	h6{
		// 		color: $red;
		// 	}
		// }
	}

	&.custom-carling-black-take-action-get-involved {
		h4 {
			display: inline-block;
			@include mq('md') {
				display: block;
			}
		}

		p {
			margin-top: rem(20px);
		}

		a {
			&.forgood-lk {
				margin-top: rem(15px);
				@include defBtn(16px, 41px, $white, rgba(0,0,0,0.3), $black);				
				display: block;
				width: 100%;
				background-image: url('../images/brand/forgood.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: rem(133px);
				width: rem(311px);
				height: rem(69px);
				overflow: hidden;
				text-indent: -99999px;
				&:hover {
					background-color: $black;
				}
			}
			&.forgood-clean {
				font-family: $bd;
				@include font(20px);
				color: $light-red;
				text-decoration: underline;
			}
		}
	}
}