.slide--bride {
  text-align: left;
  padding: 1rem;
  @include mq (md) {
    text-align: initial;
    padding: 0;
  }
  .desc {
    color: $gold;
    font-family: $DNLTPLightCondensed;
    line-height: .3;
    @include mq (md) {
      font-size: 6rem;
      letter-spacing: .6rem;
    }
    strong {
      font-family: $DNLTPBoldCondensed;
      padding: 0 0 0 1.5rem;
      @include mq (md) {
        padding: 0 0 0 2rem;  
      }
    }
  }
  .title {
    color: $gold;
    font-family: $DNLTPBoldCondensed;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    margin-top: -0.6rem;
    @include mq (md) {
      font-size: 1.6rem; 
      letter-spacing: .8rem; 
      margin-top: 1.6rem;
    }
  }
  .sub-title {
    color: $white;
    font-family: $DNLTPBoldCondensed;
    font-size: 2.5rem;
    margin-top: -.2rem;
    margin-bottom: 4rem;
    @include mq (md) {
      font-size: 5rem;
      letter-spacing: .2rem;
      line-height: .9;
      margin-top: initial;
      margin-bottom: initial;
      max-width: 55rem;
    }
  }
  p {
    color: $white;
    font-family: $DNLTPLightCondensed;
    font-size: 1.6rem;
    text-transform: none;
    &:nth-child(1),
    &:nth-child(2) {
      margin: 1rem 0;
    }
    @include mq (md) {
      max-width: 38rem;
      margin: 3rem 0;
    }
  }
  .btn--slide--bride {
    color: $white;
    background-color: $btn-slide;
    border: 0;
    font-family: $DNLTPBoldCondensed;
    font-size: 1.6rem;
    padding: .5rem;
    width: 20rem;
  }
}

.page-agegate {
  .agegate {
    &__image {
      .agegate--image {
        &__xs {
          @include mq (md) {
            display: none;
          }
        }
        &__md {
          display: none;
          @include mq (md) {
            display: block;
          }
        }
      }
    }
    &__content {
      position: relative;
      top: 4rem;
      @include mq (sm) {
        top: 8rem;
      }
      @include mq (md) {
        position: initial;
        top: initial;
      }
    }
    &__body {
      @include mq (md) {
        position: absolute;
        width: 100%;
        height: auto;
        top: 15%;
      }
      .slide--bride {
        padding: 3rem;
        @include mq (md) {
          padding: 1rem;
        }
      }
    }
  }
  img {
    width: 100%;
  }
  .color-red {
    color: $gold !important;
  }
  .block-info {
    padding-bottom: 0 !important;
    @include mq (sm) {
      padding-top: 4rem;
    }
    @include mq (md) {
      padding-top: initial;
    }
  }
  .box-nav {
    padding: 0 0 2rem;
  }
}