.view-articles-home {
	position: relative;
	width: 100%;
	min-height: rem(666px);
	background-image: url('../images/bg/bg-articles.jpg');
	padding: rem(58px) rem(30px);
	@include bgcover;
	@include mq('md') {
		min-height: 100vh;
		padding: rem(167px) 0;
	}

	// Controls
	button {
		&.slick-arrow {
			width: rem(28px);
			height: rem(28px);

			&::after {
				content: "";
				display: block;
				position: absolute;
				width: rem(28px);
				height: rem(28px);
				top: rem(2px);
				transition: all 0.3s;
			}

			&.slick-prev {
				left: rem(-16px);
				&::after {
					left: 0;
					@include iconSVG('../images/icons/caret-left.svg', 20px);
				}
			}
			&.slick-next {
				right: rem(-16px);
				&::after {
					right: 0;
					@include iconSVG('../images/icons/caret-right.svg', 20px);
				}
			}
		}
	}

	.view-header {
		width: 100%;
		max-width: rem(1280px);
		margin: 0 auto rem(36px);
		text-align: center;
		
		@include mq('md') {
			margin: 0 auto rem(23px);
			text-align: left;
		}

		h3,h4 {
			line-height: 1;
			margin: 0;
			font-family: $bd;
			font-weight: bold;
			display: inline-block;
			@include font(40px);
			font-weight: bold;
			letter-spacing: rem(-1.6px);
			@include mq('md') {
				@include font(50px);						
				letter-spacing: rem(-2.6px);
			}
		}
		
		h3 {
			color: $white;
		}

		h4 {
			color: $red;
			margin-left: rem(10px);
			@include mq('md') {
				display: block;
				margin-left: inherit;
			}
		}
	}

	.view-content {
		width: 100%;
		max-width: rem(1300px);
		margin: 0 auto;
		@include mq('md') {			
			display: flex;
			flex-wrap: wrap;
		}
		.views-row {
			display: block;
			text-align: left;
			
			@include mq('md') { 
				width: 23%;
				margin: 0 1%;
			}

			.home-carling-black-article-item {
				color: $white;
				padding: 0 rem(20px);
				@include mq('md') {
					padding: inherit;
				}
				h4 {
					padding: rem(20px) 0;
					margin: 0 0;
					font-family: $bd;
					font-weight: bold;
					@include font(22px);
				}

				a {
					margin-top: rem(15px);
					@include defBtn(16px, 41px, $white, rgba(0,0,0,0.3), $red);
					text-transform: uppercase;
					display: block;
					width: 100%;
					@include mq('md') {
						width: auto;
						display: inline-block;
					}
				}
			}
		}
	}
}