#block-views-partners-home-block{
	position: relative;
	width: 100%;
	min-height: rem(600px);
	background: $dk-brand;
	@include bgcover;
	.view-partners-home {
		position: absolute;
		z-index: 2;
		padding: 0 rem(20px) 0;
		top: 50%;
		width: 100%;
		height: auto;
		transform: translateY(-50%);
		@include mq('md') {
			left: 50%;
			width: 50%;
			max-width: rem(533px);
			top: 50%;
			transform: translate(-50%,-50%);
		}
		.view-header {
			color: $white;
			h2,h3,h4 {
				line-height: 1;
				margin: 0;
				font-family: $bd;
				font-weight: bold;
				display: inline-block;
				@include font(50px);
				font-weight: bold;
				letter-spacing: rem(-1.6px);
			    line-height: 0.9;
				@include mq('md') {
					@include font(80px);						
					letter-spacing: rem(-2px);
				}
			}

			h2,h4 {
				color: $red;
			}

			h3 {
				color: $white;
			}

			h4 {
				display: inline-block;
				@include mq('md') {
					display: block;
				}
			}
			p{
			    margin: rem(21px) auto rem(49px);
			    font-family: $td-cn-18;
			    @include mq(md){
			    	font-size: rem(18px);
			    }
			}
		}
		.view-content {
			@include mq(md){
				margin: 0 rem(-70px);
			}
			.views-row{
				padding: 0 rem(25px);
				@include mq(md){
					padding: 0 0;
				}
				h2{
					display: none;
				}
			}
			.slick-next,
			.slick-prev{
				border-top: rem(2px) solid $white;
				border-right: rem(2px) solid $white;
				z-index: 2;
				@include mq(md){
					width: rem(14px);
					height: rem(14px);
				}
			}
			.slick-next{
				transform: rotate(45deg);
				right: 0;
				@include mq(md){
					right: rem(-10px);
				}
			}
			.slick-prev{
				transform: rotate(-135deg);
				left: 0;
				@include mq(md){
					left: rem(-10px);
				}
			}
		}
	}
}