.view-slider-home {
	position: relative;
	background-color: gray;
	.view-content {
		.views-row {			
			height: 120vh;
			position: relative;
			@include bgcover;

			.home-carling-black-slider-item {
				position: absolute;				
				left: 0;
				width: 100%;
				bottom: rem(110px);
				text-transform: uppercase;
				text-align: center;
				z-index: 2;
				padding: rem(20px);
				@include mq('md') {
					bottom: rem(140px);
				    text-align: left;
				    left: 50%;
				    width: 85%;
				    transform: translateX(-50%);
				    max-width: 1180px;
				}
				
				&-image-desktop,
				&-image-mobile {
					display: none;
				}

				h3,h4 {
					line-height: 1;
					margin: 0;
					font-family: $bd;
					font-weight: bold;
					display: inline-block;
					@include font(42px);
					font-weight: bold;
					letter-spacing: rem(-1.6px);
					@include mq('md') {
						@include font(80px);						
						letter-spacing: rem(-2px);
					}
				}

				h3 {
					color: $white;
				}

				h4 {
					color: $light-red;
				}

				h5 {
					color: $white;
					font-family: $td-lt-light;					
					letter-spacing: rem(8px);
					@include font(20px);								
				}

				a {
					margin-top: rem(15px);
					@include defBtn(16px, 41px, $white, rgba(0,0,0,0.3), $red);
					text-transform: uppercase;
					width: 100%;
					@include mq('md') {
						width: auto;
						display: inline-block;
					}
				}
				
				// When slide have logo
				&.custom-carling-black-slider-logo {
					h4 {
						display: block;
					}
					a {
						width: rem(186px);
						height: rem(37px);
						background-color: transparent;
						@include iconSVG('../images/brand/logo.svg', 186px);
						padding: 0 0;
						border: none;
					}
				}

				// When slide is left
				&.left {
					@include mq('md') {
						width: 73%;
					}
				}

				&.custom-carling-black-slider-2{
					top: 50%;
					transform: translate(-50%,-50%);
					bottom: auto;
					width: 100%;
					padding: 0 2rem;
					@media(max-width: 720px){
						left: 50%;
					}
					@media(max-width: 414px){
						top: 46%;
					}
					.text-slide-renew{
						width: 40%;
						max-width: 520px;
						@media(max-width: 720px){
							width: 100%;
						}
						@media(max-height: 680px){
							width: 100%;
							max-width: 720px;
						}
						.title{
							display: block;
							text-align: left;
							br{
								display: none;
							}
							@media(max-height: 680px){
								margin: 0;
							}	
							.color-white{
								font-size: 62px;
								color: white;
								display: block;
								@media(max-width: 720px){
									font-size: 48px;
								}
								@media(max-width: 414px){
									font-size: 36px;
								}
								.color-red{
									display: inline;
									font-size: 62px;
									color: #e31937;
									@media(max-width: 720px){
										font-size: 48px;
									}
									@media(max-width: 414px){
										font-size: 36px;
									}
								}
							}
							.color-red{
								font-size: 22px;
								margin-top: -10px;
								color: #e31937;
								display: block;
								@media(max-width: 720px){
									font-size: 17px;
								}
								@media(max-width: 414px){
									margin-top: -6px;
									font-size: 13px;
								}
							}
						}
						.sub-title{
							margin-bottom: 30px;
							text-align: left;
							@media(max-width: 720px){
								margin-bottom: 10px;
							}
							@media(max-height: 680px){
								margin-bottom: 10px;
							}
							span{
								display: block;
							}
							.color-white{
								font-size: 44px;
								color: white;
								@media(max-width: 720px){
									font-size: 32px;
								}
								@media(max-width: 414px){
									font-size: 22px;
								}
							}
							.color-red{
								font-size: 44px;
								color: #e31937;
								@media(max-width: 720px){
									font-size: 32px;
								}
								@media(max-width: 414px){
									font-size: 22px;
								}
							}
						}
						p{
							color: white;
							margin-bottom: 25px;
							text-align: left;
							@media(max-width: 720px){
								font-size: 14px;
							}
							@media(max-width: 414px){
								font-size: 12px;
								margin-bottom: 10px;
								&:last-of-type{
									margin: 0;
								}
							}
							@media(max-height: 680px){
								margin-bottom: 10px;
							}
						}
					}
				}

					
			}
		}
	}
	
	// Bottom pager
	.view-footer {
		position: absolute;
		width: 100%;
		bottom: rem(20px);
		z-index: 10;
		
		p {
			text-align: center;
		}

		.slider-down-button {
			display: inline-block;
			width: rem(20px);
			width: rem(29px);
			@include iconSVG('../images/icons/down-mouse.svg', 15px);
		}

		.paginator-wrapper {
			position: relative;
			text-align: center;
			color: $white;
			.pagination-info {
				display: inline-block;
				vertical-align: middle;
				margin: 0 rem(50px);
				@include font(16px);
				b {
					@include font(20px);
					color: $red;
					font-weight: normal;
				}
			}

			button {
				&.slick-arrow {
					position: relative;
					top: initial;
					left: unset;
					right: unset;
					display: inline-block !important;
					width: rem(58px);
					height: rem(20px);
					transform: none;
					transition: all 0.3s;
					.txt {
						@include font(12px);
						color: $white;
					}

					&::after {
						content: "";
						display: block;
						position: absolute;
						width: rem(15px);
						height: rem(9px);
						top: rem(2px);
						transition: all 0.3s;
					}

					&.slick-prev {
						padding-left: rem(30px);
						&::after {
							left: 0;
							@include iconSVG('../images/icons/caret-left.svg', 15px);
						}
						&:hover{
							&::after {
								left: rem(-5px);
							}
						}
					}
					&.slick-next {
						padding-right: rem(30px);
						&::after {
							right: 0;
							@include iconSVG('../images/icons/caret-right.svg', 15px);
						}
						&:hover{
							&::after {
								right: rem(-5px);
							}
						}
					}
				}
			}
		}
	}
}