.view-slider-our-work {
    position: relative;
	.view-content {
		.views-row {			
			height: 100vh;
			position: relative;
			min-height: rem(666px);
            @include bgcover;
            @include mq('md') {
            	height: 92vh;
                min-height: rem(810px);

            }
		
			.home-carling-black-slider-item {
				position: absolute;				
				left: 0;
				width: 100%;
				bottom: rem(110px);
				text-transform: uppercase;
                text-align: center;
                color: $white;
				z-index: 2;
				
				@include mq('md') {
                    position: unset;
					bottom: inherit;
				}
				
				&-image-desktop,
				&-image-mobile {
					display: none;
                }
                
                h2 {
                    line-height: 1;
                    color: $light-red;
                    margin: 0;
                    font-family: $bd;
                    font-weight: bold;
                    display: inline-block;
                    @include font(50px);
                    font-weight: bold;
                    letter-spacing: rem(-1.6px);
                    @include mq('md') {
                        @include font(80px);						
                        letter-spacing: rem(-2.6px);
                    }
                }

				h3,h4 {
					line-height: 1;
					margin: 0;
                    font-family: $bd;
                    color: $white;
					font-weight: bold;
					display: inline-block;
					@include font(20px);
					font-weight: bold;
					@include mq('md') {
						@include font(32px);
					}
				}

				h5 {
					color: $white;
					font-family: $td-lt;					
					letter-spacing: rem(5px);
					@include font(20px);								
				}

				a {
					margin-top: rem(15px);
					@include defBtn(16px, 41px, $white, rgba(0,0,0,0.3), $red);
					text-transform: uppercase;
					display: block;
					width: 100%;
					@include mq('md') {
						width: auto;
						display: inline-block;
					}
                }

                &--caption {
                    position: relative;
                    @include wrapper;
                    padding: 0 rem(20px);
                    @include mq('md') {
						padding: inherit;
                    }	
                }

                &.custom-slider-our-work-1 {
                    .home-carling-black-slider-item--caption {
                        
                        @include mq('md') {
                            text-align: right;
                            padding: rem(300px) 0 0;
                        }

                        .caption--inner {
                            @include mq('md') {
                                width: 50%;
                                max-width: rem(420px);
                                display: inline-block;
                                text-align: left;
                            }

                            h2 {
                                display: block;
                                margin-bottom: rem(15px);
                            }

                            h3 {
                                span {
                                    display: block;
                                    color: $light-red;
                                }
                            }

                            p {
                                margin-top: rem(20px);
                            }
                        }
                    }
                }

                &.custom-slider-our-work-2 {
					bottom: rem(55px);
                    .home-carling-black-slider-item--caption {
                        @include mq('md') {
                            padding: rem(240px) 0;
                        }
                        .caption--inner {
                            @include mq('md') {
                                display: flex;
                                flex-wrap: wrap;
                                text-align: left;
                            }
							
							a {
								position: unset;
								display: block;
								margin: rem(20px) auto;
								border: none;
								padding: inherit;
								width: rem(60px);
								height: rem(60px);
								background-color: transparent;
								opacity: 0.56;
								transition: all 0.4s;
								@include iconSVG('../images/icons/play-icon.svg', 100%);
								
								@include mq('md') {
									@include center('both');
									// left: 46%;
									// transform: none;                                
									width: rem(120px);
									height: rem(120px);
								}

								&:hover {
									opacity: 1;
									background-color: transparent;
								} 
							}

                            .side-text {
                                @include mq('md') {
                                    width: 50%;
                                }

                                h4 {
                                    color: $light-red;
                                }

                                p {
                                    margin: rem(10px) 0;
                                    @include font(10px);
                                    @include mq('md') {
                                    	@include font(16px);
                                    }	
                                }

                                &--left {
                                    @include mq('md') {
                                        padding-right: rem(120px);
                                    }
                                }

                                &--right {
                                    @include mq('md') {
                                        padding-left: rem(120px);
                                        margin-top: rem(65px);
                                    }
                                }
                            }
                        }
                    }
                }

                &.custom-slider-our-work-3 {
                    .home-carling-black-slider-item--caption {
                        @include mq('md') {
                            text-align: left;
                            padding: rem(300px) 0;
                        }

                        .caption--inner {
                            @include mq('md') {
                                width: 50%;
                                max-width: rem(420px);
                                display: inline-block;
                                text-align: left;
                            }

                            h4 {
                                color: $light-red;
                            }

                            p {
                                margin: rem(10px) 0;
                            }
                        }
                    }
                }
			}
		}
	}
	
	// Bottom pager
	.view-footer {
		position: absolute;
		width: 100%;
		bottom: rem(20px);
		z-index: 10;
		
		p {
			text-align: center;
		}

		.slider-down-button {
			display: none;
		}

		.paginator-wrapper {
			position: relative;
			text-align: center;
			color: $white;
			.pagination-info {
				display: inline-block;
				vertical-align: middle;
				margin: 0 rem(50px);
				@include font(16px);
				b {
					@include font(20px);
					color: $red;
					font-weight: normal;
				}
			}

			button {
				&.slick-arrow {
					position: relative;
					top: initial;
					left: unset;
					right: unset;
					display: inline-block !important;
					width: rem(58px);
					height: rem(20px);
					transform: none;
					transition: all 0.3s;
					.txt {
						@include font(12px);
						color: $white;
					}

					&::after {
						content: "";
						display: block;
						position: absolute;
						width: rem(15px);
						height: rem(9px);
						top: rem(2px);
						transition: all 0.3s;
					}

					&.slick-prev {
						padding-left: rem(30px);
						&::after {
							left: 0;
							@include iconSVG('../images/icons/caret-left.svg', 15px);
						}
						&:hover{
							&::after {
								left: rem(-5px);
							}
						}
					}
					&.slick-next {
						padding-right: rem(30px);
						&::after {
							right: 0;
							@include iconSVG('../images/icons/caret-right.svg', 15px);
						}
						&:hover{
							&::after {
								right: rem(-5px);
							}
						}
					}
				}
			}
		}
	}
}