@font-face {
    font-family: 'DINNext LT ProBold';
    src: url('../fonts/DINNextLTPro-Bold.woff2') format('woff2'),
        url('../fonts/DINNextLTPro-Bold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'DINNext LT ProBoldCondensed';
    src: url('../fonts/DINNextLTPro-BoldCondensed.woff2') format('woff2'),
        url('../fonts/DINNextLTPro-BoldCondensed.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'DINNext LT ProCondensed';
    src: url('../fonts/DINNextLTPro-Condensed.woff2') format('woff2'),
        url('../fonts/DINNextLTPro-Condensed.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'DINNext LT ProHeavyCondensed';
    src: url('../fonts/DINNextLTPro-HeavyCondensed.woff2') format('woff2'),
        url('../fonts/DINNextLTPro-HeavyCondensed.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'DINNext LT ProLightCondensed';
    src: url('../fonts/DINNextLTPro-LightCondensed.woff2') format('woff2'),
        url('../fonts/DINNextLTPro-LightCondensed.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'DINNext LT ProMedium';
    src: url('../fonts/DINNextLTPro-Medium.woff2') format('woff2'),
        url('../fonts/DINNextLTPro-Medium.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'DINNext LT ProRegular';
    src: url('../fonts/DINNextLTPro-Regular.woff2') format('woff2'),
        url('../fonts/DINNextLTPro-Regular.woff') format('woff');
    font-style: normal;
}


@font-face {
    font-family: 'TradeGothic LT Light';
    src: url('../fonts/TradeGothicLT-Light.woff2') format('woff2'),
        url('../fonts/TradeGothicLT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothic LT CondEighteen BoldCondTwentyObl';
    src: url('../fonts/TradeGothicLT-BoldCondTwentyObl.woff2') format('woff2'),
        url('../fonts/TradeGothicLT-BoldCondTwentyObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TradeGothic LT BoldTwo';
    src: url('../fonts/TradeGothicLT-BoldTwo.woff2') format('woff2'),
        url('../fonts/TradeGothicLT-BoldTwo.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothic LT BoldExtended';
    src: url('../fonts/TradeGothicLT-BoldExtended.woff2') format('woff2'),
        url('../fonts/TradeGothicLT-BoldExtended.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothic LT LightOblique';
    src: url('../fonts/TradeGothicLT-LightOblique.woff2') format('woff2'),
        url('../fonts/TradeGothicLT-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('../fonts/TradeGothicLT.woff2') format('woff2'),
        url('../fonts/TradeGothicLT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothic LT BoldOblique';
    src: url('../fonts/TradeGothicLT-BoldOblique.woff2') format('woff2'),
        url('../fonts/TradeGothicLT-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Carling Script';
    src: url('../fonts/CarlingScript.woff2') format('woff2'),
        url('../fonts/CarlingScript.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TradeGothic LT Bold';
    src: url('../fonts/TradeGothicLT-Bold.woff2') format('woff2'),
        url('../fonts/TradeGothicLT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothic LT CondEighteen';
    src: url('../fonts/TradeGothicLT-CondEighteen.woff2') format('woff2'),
        url('../fonts/TradeGothicLT-CondEighteen.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothic LT Extended';
    src: url('../fonts/TradeGothicLT-Extended.woff2') format('woff2'),
        url('../fonts/TradeGothicLT-Extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothic LT Oblique';
    src: url('../fonts/TradeGothicLT-Oblique.woff2') format('woff2'),
        url('../fonts/TradeGothicLT-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TradeGothic LT Cond Twenty';
    src: url('../fonts/TradeGothicLT-BoldCondTwenty.woff2') format('woff2'),
        url('../fonts/TradeGothicLT-BoldCondTwenty.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothic LT-BoldTwoOblique';
    src: url('../fonts/TradeGothicLT-BoldTwoOblique.woff2') format('woff2'),
        url('../fonts/TradeGothicLT-BoldTwoOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TradeGothic LT CondEighteenObl';
    src: url('../fonts/TradeGothicLT-CondEighteenObl.woff2') format('woff2'),
        url('../fonts/TradeGothicLT-CondEighteenObl.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Trade Gothic LT Std BdCn20';
    src: url('../fonts/TradeGothicLTStd-BdCn20.woff2') format('woff2'),
        url('../fonts/TradeGothicLTStd-BdCn20.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
