body {
	font-size: 16px;
	font-family: $td-cn-18;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.new-slider-campaign {
		h2 {
			&.desc {
				color: #cab58d !important;
				font-family: DINNext LT ProLightCondensed !important;
				line-height: .3;
				font-weight: 500 !important;
			}
		}

		h1 {
			margin-top: 0 !important;
		}
	}

	strong,
	b {
		font-family: $bd;
	}

	h1,h2,h3,h4,h5 {
		font-family: $bd;
	}

	p {
		font-family: $td-cn-18;
	}

	// Link styles
	button,
	a {
		transition: all 0.3s;
		cursor: pointer;
		&:hover {
			transition: all 0.2s;
		}
	}

	// Layout
	.main-container {
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		.row {
			padding: 0 0 0 0;
			margin: 0 0 0 0;
			.col-sm-3 {
				min-height: initial;
			}
			.col-sm-9,
			.col-sm-12 {
				padding: 0 0 0 0;
				min-height: initial;
				margin: 0 auto;
				float: none;
				clear: both;
				width: 100%;
			}
		}

		// Layout fixes
		aside {
			&.col-md-3 {
				display: none;
			}
		}
		
		h1 {
			&.page-header {
				display: none;
			}
		}
	}

	// forms 
	form {
		select{
			-webkit-appearance: none;
			-moz-appearance: none;
			&::-ms-expand {
				display: none;
			}
		}		
	}

	.webform-client-form {
		.form-item {
			input, select {
				&.error {
					color: $red !important;
					border: rem(2px) solid $red !important;
					background-color: $salmon;
					transition: all 0.3;
					@include placeholder {
						color: $red !important;
					}
				}
			}
		}
	}

	&.page-user-login{
		.main-container {
			margin-top: 125px;
		}
	}
}