.navbar {
	&.container {
		border: none;
		border-radius: 0;
		margin: 0 0 0 0;
		min-height: inherit;
		padding: rem(15px);
		background-color: transparent;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 100%;
		z-index: 100;
		transition: all 0.4s;

		.container {
			margin: 0 auto;
			width: 100%;
			max-width: 1170px;
			@include mq(md){
				display: flex;
				align-items: center;
			}
			.navbar-header {
				margin: 0 0 0 0;
				a {
					&.logo {
						width: rem(124px);
						height: rem(24px);						
						@include iconSVG('../images/brand/logo-excuse.svg', 124px);
						img {
							display: none;
						}
					}
				}
				.navbar-toggle{
					border: none;
					background-color: transparent;
					.icon-bar{
						background-color: $white;
					    height: 2.5px;
   						margin: 4px auto;
   						&:nth-child(2){
   							margin-top: 0;
   						}
   						&:nth-child(3){
   							width: rem(18px);
   						}
   						&:last-child{
   							width: rem(16px);
   						}
					}
				}
			}

			.navbar-collapse {
				border: none;
			 	box-shadow: none;
				@include mq('md'){
					width: 100%;
					nav{
						display: flex;
						align-items: center;
					}
				}
				.navbar-nav {
					text-align: center;
					> li {
						display: block;
						margin: rem(18px) 0;
						@include mq('md') {
							display: inline-block;
							vertical-align: middle;
							padding: rem(2px) 15px;
							&:not(:first-of-type){
							    border-left: 1px solid $white;
							}
						}
						a {
							padding: 0;
							text-transform: uppercase;
							background-color: transparent;
							font-family: $td-cn-18;
							font-weight: 300;
							color: $white;
							&:hover,
							&:focus {
								color: $red;
							}
						}
						&.active {
							a {
								background-color: transparent;
								border-bottom: rem(2px) solid $red;
							}
						}
					}
				}
				.region-navigation {
					@include mq('sm'){
						margin-left: auto;
					}
					li {
						margin: rem(20px) 0;
						@include mq('sm'){
							margin: 0 rem(5px);
							display: inline-block;
						}
						a {
							@include defBtn(16px, 41px, $white, rgba(0,0,0,0.3), $red);
							text-transform: uppercase;
							display: block;
							width: 100%;
							&.act-page {
								background-color: rgba($red, .5);
							}	
							@include mq('sm') {
								width: auto;
								display: inline-block;
							}
						}
					}
				}
				.ab-inbev-footer-menu {
					font-family: $td-cn-18;
					display: block;
					text-align: center;
					padding: 0 0 0 0;
					@include mq('md') {
						text-align: left;
						display: inline-block;
						float: right;
						text-align: right;
						margin-top: rem(2px);
					}
					li {
						display: inline-block;
						border-right: rem(1px) solid $white;
						@include mq('md') {
							line-height: 1;
						}
						a {
							color: $white;
							padding: 0 rem(14px);
							@include font(14px);						
							text-transform: uppercase;
							@include mq('tb') {
								@include font(10px);
							}
						}
						&:last-child {
							border-right: none;
							a {
								padding-right: 0;
							}
						}
					}
				}
				.ab-inbev-footer-social-media {
					text-align: center;
					padding: 0;
					display: block;
					@include mq('md') {
						width: auto;
						display: inline-block;
						vertical-align: middle;
						margin: 0 rem(60px);
					}
					li {
						display: inline-block;
						margin: 0 rem(5px);
						@include mq('md') {
							margin: 0 0;
						}
						a {
							display: block;
							width: rem(29px);
							height: rem(29px);
							position: relative;
							border-radius: 100%;
							background-color: transparent ;
							&:hover {
								background-color: rgba(255,255,255,0.2);
							}
						}

						&.ab-inbev-footer-social-media-facebook {
							margin-left: 0;
							a {
								@include iconSVG('../images/icons/facebook-logo.svg', 14px);
								text-indent: 999999px;
							}
						}
						&.ab-inbev-footer-social-media-instagram {
							a {
								@include iconSVG('../images/icons/instagram-logo.svg', 14px);
								text-indent: 999999px;
							}
						}
						&.ab-inbev-footer-social-media-youtube {
							a {
								@include iconSVG('../images/icons/youtube-logo.svg', 14px);
								text-indent: 999999px;
							}
						}
						&.ab-inbev-footer-social-media-twitter {
							margin-right: 0;
							a {
								@include iconSVG('../images/icons/twitter-logo.svg', 14px);
								text-indent: 999999px;
							}
						}
					}
				}
			}

			
			// Brand
			.name {
				&.navbar-brand {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}

		// Scrolled menu 
		&.scroll_menu {
			transition: all 0.3s;
			background-color: rgba($black, 0.7);
			.container {}
		}
	}
	&.collapsed{
		height: 100%;
		background: $black;
	    overflow-y: scroll;
		.navbar-header{
			text-align: center;
			&:before{
				content: '';
				display: block;
				width: rem(95px);
				height: rem(45px);
				margin: 15px auto;
				@include iconSVG('../images/brand/logo-scroll.png', 95px);
			}
			a.logo{
			    float: none !important;
   	 			display: inline-block;
		    	padding: 0;
				margin-right: auto;
			}
		}
		.navbar-toggle{
			position: absolute;
			top: rem(20px);
			right: rem(12px);
			.icon-bar{
				width: rem(25px) !important;
				margin: rem(4px) auto;
				&:nth-child(2){
					transform: rotate(45deg);
				}
				&:nth-child(3){
					display: none;
				}
				&:last-child{
					transform: rotate(-45deg);
    				top: rem(-6px);
    				position: relative;
				}
			}
		}
	}
}